#footer {
  position: absolute;
  width: var(--footer-width);
  height: var(--footer-height);
  left: calc(50% - var(--footer-width) / 2);
  bottom: 0px;

  background: var(--footer-bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--social-links-gap);
}
